*{
    margin: 0;
    padding: 0;
    --text-color: #8b8b8b;
}
.card-container{
    max-width: 350px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center;
    border-radius: 20px !important;
    padding: 12px 16px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
    overflow: hidden;
}
.card-header{
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    img{
        width: 35px;
        height: 45px;
        border-radius: 50%;
    }
    .items{
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 6px;
        h3,h4{
            color: var(--text-color);
        }
        

    }
}

.card-body{
    height: 230px;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-margin-top: 90px;
    p{
        line-height: 1.5;
        white-space: pre-wrap;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color);
        mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    }
    div{
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
        position: relative;
        top: -20px;
        a{
            line-height: 1.5;
            color: blue;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}
.card-footer{
    margin-top: 10px;
    width: calc(100% - 10px);
    h3{
        color: var(--text-color);
    }
  
}
button{
    margin-top: 16px !important;
    width: 100%;
    padding: 10px 16px !important;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    border-radius: 20px !important;
    text-transform:capitalize !important;
    word-wrap: break-word;
}

.job-container{
    position: fixed;
    z-index: 1000;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }

.job-container-visibility{
    visibility: visible;
    opacity: 1;
}
  
.job-detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 400px;
      max-width: 80%;
      max-height: 60vh;
      overflow-y: auto;
      background-color: rgb(255, 255, 255);
      outline: solid 0px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
      padding: 16px;
      border-radius: 10px;

      h2,h3{
        font-size: 1.25rem;
        line-height: 1.6;
        font-weight: 600;
        }
        span {
            display: inline-block;
            margin-bottom: 16px;  
        }

        strong{
            text-transform: capitalize;
        }

        ul{
            padding-left: 28px;
            font-weight: 400;
            font-size: 1rem;
        }
  }